body{
background: white;
color: black;
overflow-x: hidden;
height: 100%;
margin: 0;
color: #333;
background-color: white;
line-height: 1;	
font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

@media (max-width: 1024px) {
.search_div{
display: none;
}

.category{
display: none;
}

.buttons_div{
top: 6px;
}

.button{
display: none;
}

.aside_nav{
display: flex;
}

.article_div_c{
margin-left: auto;
margin-right: auto;
width: 100%;
}

.article_p{
margin-bottom: 0.78125rem;
margin-top: 0;
font-size: 1.125rem;
line-height: 1.5625rem;
margin-left: 20px;
margin-right: 20px;
width: calc(100% - 40px);
max-width: 600px;
}
}

@media (min-width: 1024px) {
.navbar {
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 200;
background-color: #fff;
border-bottom: none;
}

.navbar_div{
margin: 0 auto;
max-width: 1605px;	
background: transparent;
border-bottom: 0;
padding: 4px 15px 2px;
}

.menu_button{
border: 0;
display: inline-block;
margin-right: 8px;
}

.search_div{
display: inline-block;
position: relative;
}

.search_button{
padding: 8px 9px 9px;
display: inline-block;
}

.category{
display: block;
position: absolute;
left: 105px;
line-height: 19px;
top: 14px;
}

.logo{
padding-top: 0;
}

.logo_link{
width: 195px;
height: 26px;
margin: 6px auto 0;
}

.buttons_div{
top: 4px;
}

.button_link{
display: inline-block;
margin-right: 7px;
}

.button{
padding: 11px 12px 8px;
}

.avatar_button{
display: none;
}

.aside_nav{
display: none;
}

.figcaption{
    margin-left: 0;
    max-width: 720px;
}

.extra_info{
width: 600px;
}

.article_div{
flex-direction: row;
height: 100%;
width: 945px;
margin-left: auto;
margin-right: auto;
}

.article_div_c{
margin-left: calc((100% - 600px) / 2);
margin-right: 0;
width: 600px;
}

.article_p{
margin-left: 0;
margin-right: 0;
width: 100%;
max-width: 100%;
}
.ra_right{
width: 80%;
}

.topic_div {
max-width: 32%;
flex-basis: 32%;
}
}

@media (min-width: 740px) {
.navbar_div{
background: #fff;
padding: 10px 15px 6px;
}

.logo_link{
width: 225px;
height: 31px;
margin: 4px auto 0;
}

.avatar_button{
border: none;
line-height: 13px;
padding: 9px 9px 12px;
}

.aside_nav{
position: relative;
}

.login_div{
position: absolute;
right: 20px;
}

.article_title{
position: relative;
font-size: 2.5rem;
line-height: 3rem;
}

.figcaption{
margin-left: 0;
max-width: 720px;
}

.figcaption_main{
font-size: 0.9375rem;
line-height: 1.25rem;
}

.figcaption_aside{
font-size: 0.75rem;
}

.extra_info{
margin-left: auto;
margin-right: auto;
}

.info_p{
font-size: 0.9375rem;
line-height: 1.25rem;
}

.article_p{
font-size: 1.25rem;
line-height: 1.875rem;
margin-bottom: 0.9375rem;
margin-top: 0;
}

.ra_right{
width: 70%;
}

.ra_h2 {
    font-size: 1rem;
    line-height: 1.375rem;
    padding-right: 0px;
    padding-left: 0px;
}

.ra_main {
width: 100%;
justify-content: space-between;
border-bottom: none;
}

.topic_div {
max-width: 48%;
}

.ra_left{
	width: calc(4 * (((100vw - 370px) - 15px) / 12) + 90px);
    display: block;
    margin-left: 30px;
    max-width: 315px;
    padding-left: 0px;
    padding-right: 0px;
}
}

@media (max-width: 740px) {
.ra_left{
    display: none;
}
}

@media (min-width: 600px) {
.article{
margin: 0 auto 20px;
}

.article_header{
margin-top: 0.9375rem;
}

.article_title{
margin-left: auto;
margin-right: auto;
}

.article_p{
margin-left: auto;
margin-right: auto;
}

.topic_div {
width: 48%;
}
}
.navbar{
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 200;
opacity: 1;
visibility: visible;
border-bottom: 1px solid #e2e2e2;
}

.navbar_div{
background: #fff;
border-bottom: 1px solid #e2e2e2;
height: 36px;
padding: 8px 15px 3px;
position: relative;
}

.collapse_search{
display: flex;
justify-content: space-around;
left: 10px;
position: absolute;	
}

.menu_button{
border-radius: 3px;
border: 0px;
cursor: pointer;
white-space: nowrap;
vertical-align: middle;
background-color: #fff;
color: #333;
font-size: 11px;
line-height: 11px;
font-weight: 500;
letter-spacing: 0.02em;
padding: 11px 12px 8px;
text-transform: uppercase;
padding: 8px 9px 9px;	
display: inline-block;
}

.search_button{
border-radius: 3px;
cursor: pointer;
transition: ease 0.6s;
white-space: nowrap;
vertical-align: middle;
background-color: transparent;
color: #000;
font-size: 11px;
line-height: 11px;
font-weight: 700;
letter-spacing: 0.02em;
padding: 11px 12px 8px;
border: 0;
}

.category_link{
font-size: 14.25px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.7px;
line-height: 19px;
}

a {
text-decoration: none;
color: black;
}

.logo{
text-align: center;
}

.logo_link{
display: block;
width: 189px;
height: 26px;
margin: 5px auto 0;display: block;
}

.logo_link img{
height: 100%;
width: 1
}

.buttons_div{
display: flex;
justify-content: space-around;
position: absolute;
right: 10px;
}

.button{
border-radius: 3px;
cursor: pointer;
transition: ease 0.6s;
white-space: nowrap;
vertical-align: middle;
background-color: #567b95;
border: 1px solid #326891;
color: #fff;
font-size: 11px;
line-height: 11px;
font-weight: 700;
letter-spacing: 0.05em;
padding: 11px 12px 8px;
text-transform: uppercase;
}

.avatar_button{
border-radius: 3px;
cursor: pointer;
transition: ease 0.6s;
white-space: nowrap;
vertical-align: middle;
background-color: transparent;
color: #000;
font-size: 11px;
line-height: 11px;
font-weight: 700;
letter-spacing: 0.02em;
padding: 11px 12px 8px;
border: 0;
padding: 7px 9px 9px;
}

.aside_nav{
align-items: center;
font-size: 11px;
justify-content: space-around;
padding: 13px 20px 12px;
margin: 0;
background: #fff;
}

.login_div{
display: block;
font-size: 10px;
margin-left: auto;
text-transform: uppercase;
}

.login_a{
color: #326891;
height: 12px;
margin-left: 8px;
padding-left: 8px;
}

.main{
height: 100%;
margin: 100px 0px 0px;
}

.article{
position: relative;
margin: 0 auto;
}

.article_header{
margin-top: 0.3125rem;
}

.article_title{
position: relative;
color: #121212;
font-weight: 700;
font-style: italic;
font-size: 1.9375rem;
line-height: 2.25rem;
margin:0px 20px 1rem;
position: relative;
width: calc(100% - 40px);
max-width: 600px;
margin-left:auto;
margin-right: auto;
}

.figure{
max-width: 945px;
margin-left: auto;
margin-right: auto;
}

.figure img{
cursor: pointer;
width: 100%;
vertical-align: top;
height: auto;
max-width: 100%;
}

.figcaption{
color: #666;
margin: 10px 20px 0;
text-align: left;
}

.figcaption_main{
margin-right: 7px;
color: #666;
font-size: 0.875rem;
line-height: 1.125rem;
}

.figcaption_aside{
display: inline;
color: #888;
line-height: 1.125rem;
letter-spacing: 0.01em;
font-size: 0.75rem;
}

.extra_info{
margin-bottom: 20px;
color: #121212;
width: 100%;
width: calc(100% - 40px);
max-width: 600px;
margin-left: auto;
margin-right: auto;
}

.info_div{
margin-bottom: 1.5625rem;
}

.info_title{
display: flex;
align-items: center;
margin-bottom: 15px;
width: 100%;
}

.info_p{
display: inline-block;
letter-spacing: 0.02em;
font-size: 0.875rem;
line-height: 1.125rem;
margin: 0;
font-weight: 700;
color: #333;
}

.info_p a{
color: #333;
display: inline;
text-decoration-color: #ccc;
}

.info_ul{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0;
flex-wrap: nowrap;
padding-left: 0px;
}

.info_ul li{
list-style: none;
}

.info_li_date{
flex-shrink: 1;
padding-right: 1rem;
}

.info_time{
display: inline-block;
font-weight: 500;
color: #333;
font-size: 0.8125rem;
line-height: 1rem;
margin-bottom: 0;
margin-top: 0;
}

.info_link{
display: inline;
flex-shrink: 0;
}

.info_link_div{
color: #999;
display: flex;
flex-shrink: 0;
font-size: 17px;
margin-bottom: 5px;
}

.media_ul{
padding: 0px;
list-style: none;
}

#chat_li{
margin-right: 0px;
right: 3px;
position: relative;
}

.media_li{
color: #999;
display: inline;
margin-right: 16px;
padding: 10px 0;
width: 100%;
}

.media_span{
display: inline-block;
height: 15px;
vertical-align: middle;
width: 15px;
background-color: #eee;
border: 1px #eee solid;
border-radius: 100%;
padding: 5px;
width: 15px;
height: 15px;
}

.media_button{
background-color: rgb(255, 255, 255);
left: 0px;
position: relative;
top: 2px;
}

.chat_button{
align-self: center;
background-color: transparent;
bottom: 0.05rem;
color: rgb(102, 102, 102);
cursor: pointer;
display: inline-flex;
flex-direction: column;
font-size: 0.75rem;
font-weight: 500;
height: 25px;
line-height: 1rem;
margin-left: 2px;
min-width: 24px;
position: relative;
text-transform: uppercase;
border-width: initial;
border-style: none;
border-color: initial;
border-image: initial;
overflow: visible;
padding: 0px 0px 4px;
}

.chat_i{
-webkit-box-align: center;
align-items: center;
display: flex;
-webkit-box-pack: center;
justify-content: center;
min-width: 26px;
min-height: 14px;
position: relative;
width: auto;
background: transparent;
border-width: 1px;
border-style: solid;
border-color: rgb(102, 102, 102);
border-image: initial;
border-radius: 4px;
padding: 4px;
}

.chat_span{
color: rgb(0, 0, 0);
font-size: 0.75rem;
line-height: 0.75rem;
margin-top: auto;
}

.article_div{
display: flex;
flex-direction: row;
height: 100%;
max-width: 945px;
margin-left: auto;
margin-right: auto;
margin-bottom: 1rem;
}

.article_p{
margin-bottom: 0.78125rem;
margin-top: 0;
font-size: 1.125rem;
line-height: 1.5625rem;
margin-left: auto;
margin-right: auto;
width: calc(100% - 40px);
max-width: 600px;
}

.inflation_div{
padding: 0px;
margin: 50px auto;
width: calc(100% - 40px);
max-width: 600px;
}

.inflation_caption{
color: #666;
margin: 10px 20px 0;
text-align: left;
margin-left: 0;
}

.inflation_caption_span1{
	margin-right: 7px;
    color: #666;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.inflation_caption_span2{
display: inline;
color: #888;
line-height: 1.125rem;
letter-spacing: 0.01em;
font-size: 0.75rem;
}

.article_footer{
font-size: 0.75rem;
line-height: 1rem;
width: calc(100% - 40px);
max-width: 600px;
color: rgb(102, 102, 102);
margin: 0px auto 1em;
}

.af_time{
font-weight: 500;
}

.af_a{
color: rgb(102, 102, 102);
text-decoration: underline;
}

.article_footer_media{
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 600px;
    margin: 1.5rem auto 2rem;
}

.comments_div{
color: rgb(153, 153, 153);
display: inline;
margin-right: 16px;
width: 330px;
max-width: 600px;
padding: 0px 1rem 0px 0px;
}

.comments_button{
background-color: rgb(86, 123, 149);
color: white;
display: block;
font-size: 0.8125rem;
font-weight: 600;
letter-spacing: 0.05em;
line-height: 1.5rem;
margin-left: auto;
margin-right: auto;
text-transform: uppercase;
width: 100%;
border-width: 1px;
border-style: solid;
border-color: rgb(50, 104, 145);
border-image: initial;
border-radius: 3px;
padding: 5px 0px;
transition: background-color 0.6s ease 0s;
}

.media_div{
color: #999;
display: flex;
flex-shrink: 0;
font-size: 17px;
margin-bottom: 5px;
}

.related_articles{
	padding-left: 3%;
    padding-right: 3%;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-top: none;
    margin-top: 45px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.ra_right{
max-width: 852px;
background-color: rgb(255, 255, 255);
}

.ra_right_topics{
max-width: 852px;
padding: 0px;
}

.ra_header{
display: flex;
justify-content: space-between;
background-color: rgb(255, 255, 255);
border-top: 1px solid rgb(0, 0, 0);
}

.ra_h2{
background-color: white;
box-sizing: border-box;
font-weight: 700;
font-size: 0.875rem;
line-height: 1.25rem;
max-width: 851.25px;
padding: 17px 20px 0px;
}

.ra_main{
display: flex;
flex-wrap: wrap;
max-width: 852px;
padding-top: 15px;
border-bottom: 1px solid rgb(226, 226, 226);
}

.topic_div{
    display: flex;
    flex-grow:1;
flex-direction: column;
}

.topic_div1{
padding: 0px 2px 20px;
}

.topic_divi{
flex-grow: 1;
display: flex;
padding-top: 0px;
border-bottom: none;
}

.topic_div_img{
width: 100%;
height: 100%;
max-width: inherit;
min-width: 60px;
}

.topic_div_fig{
padding-bottom: 0px;
margin: 0px;
}

.topic_div_fig img{
	width: 100%;
	height: auto;
    max-width: 100%;
    border: none;
}

.topic_div_fig figcaption{
min-height: 12px;
text-align: right;
}

.ra_span{
color: rgb(153, 153, 153);
font-size: 0.6em;
line-height: 1.23em;
}

.ra_description{
	max-width: 550px;
    font-weight: 500;
    padding-right: 1rem;
    min-width: 100%;
    color: rgb(51, 51, 51);
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: left;
    flex-grow: 1;
}

.ra_description h3{
	font-size: 1.125rem;
    line-height: 22px;
    color: rgb(18, 18, 18);
    margin: 0px;
}

.ra_description span{
font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.3px;
    color: rgb(153, 153, 153);
}

.ra_left{

font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    padding-bottom: 15px;
    border-top: 1px solid rgb(0, 0, 0);
}

.ra_left h2{
padding: 17px 0px 0px;
}

.ra_left_story{
	margin-top: 15px;
    border-top: 1px solid rgb(226, 226, 226);
    list-style: none;
}

.ra_left_story h3{
	border-bottom: 1px solid rgb(226, 226, 226);
    padding: 15px 0px;
    margin: 0px;
}

.ra_left_story a{
	color: rgb(18, 18, 18);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375rem;
}